{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<div class="d-flex">
    <table class="table w-50">
        <thead>
            <th>Nom des produits</th><th>Date de création du produit</th>
        </thead>
        <tbody>
            {% for p in productsDate %}
                <tr>
                    <td><a href="{{ path('product.show', {id : p.id}) }}">{{p.name}}</a></td>
                    <td>{{p.createdAt|date('d-m-Y')}}</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
    <table class="table w-50">
        <thead>
            <th>Nom des produits</th><th>Prix du produit</th>
        </thead>
        <tbody>
            {% for p in productsPrice %}
                <tr>
                    <td><a href="{{ path('product.show', {id : p.id}) }}">{{p.name}}</a></td>
                    <td>{{p.price}}€</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}